<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.project.Mobile" name="m1">
		<property name="brand">
			<value>Apple</value>
		</property>
		<property name="cost">
			<value>50000</value>
		</property>
	</bean>

	<bean class="com.project.Person" name="p1">
		<property name="age">
			<value>21</value>
		</property>
		<property name="name">
			<value>raj</value>
		</property>
	</bean>

</beans>
