<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.Student" name="s1">
		<property name="subjects">
			<list>
				<value>Physics</value>
				<value>Biology</value>
				<value>Chemistry</value>
			</list>
		</property>
		<property name="id">
			<value>12</value>
		</property>
		
	</bean>

	

</beans>